body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
           -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}
hidden{
    display: none;
    visibility: hidden;
}
.sideLogo{
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
    width: 150px;
    height:203px;
    display: none;
    border-radius: 3px;
 

}

.bg-blur {

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

#bg {
    background: #000;
    background-image: url("imgs/Dora Milaje.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#load-text {
    position: absolute;
    display: none;
    width: 70%;
    left: 30px;
    margin: 0 auto;
    height: 250px;
    background: rgba(236, 240, 241,0.5);
    bottom: 30px;
    color: #000;
    padding: 50px;
    border-radius: 5px;
    /* text-shadow: 0 0 5px #FFf; */
    font-size: 20px;
    font-weight: 600;

}
#load-next {
    position: absolute;
    display: inline-block;
    width: 100px;
    text-align: center;
    background: #ffc100;
    border: 2px solid #000;
    right: 10px;
    bottom: 10px;
    color: #000;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 15px;
    font-family:"Wolf's Bane II Regular";
    transition: all 0.5s;
    cursor: pointer;
    display: none;
    font-size: 25px;

}
#load-next:hover {
    border: 2px solid pink;

}
.start-button-load {
    position: absolute;
    display: inline-block;
    width: 300px;
    left: calc(50% - 150px);
    margin: 0 auto;
    top: 38%;
    text-align: center;
}

#start-button {
    width: 100%;
    font-family:"Wolf's Bane II Regular";
    background: #000;
    transition: all 0.5s;
    text-align: center;
    padding: 10px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    border: 2px solid #ffc100;
    color: #b4b4b4;
    font-size: 30px;
    cursor: pointer;
    border-radius: 3px;
}

#start-button:hover {
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border: 2px solid #fd79a8;
}
.startGame {
    position: absolute;
    display: inline-block;
    width: 300px !important;
    text-align: center;
    background: #ffc100 !important;
    border: 2px solid transparent !important;
    border-radius: 3px;
    bottom: 50px !important;
    left: calc(50% - 151px) !important;
    color: #fff;
    padding: 8px 12px;
    font-size: 25px !important;
    font-family: 'Nova Mono', monospace;
    transition: all 0.5s;
    cursor: pointer;
    display: none;

}
.startGame:hover {
    border: 2px solid pink;

}
.typed-cursor,
audio {
    display: none;
    visibility: hidden;
}

nav {
    display: flex;
        font-family:"Wolf's Bane II Regular";

    justify-content: space-between;
    width: 700px;
    position: fixed;
    left: calc(50% - 350px) !important;
    top: 20px;

}
#gameBlock {
    display: none;
}
nav > span, .nav {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-bottom: 2px solid red;
    color: #fff;
    background: #000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}
nav > span:hover {
    border-bottom: 2px solid #ffc100;
}
.selectedNav {
    border:2px solid #ffc100;
}


#l1Block {
    position: fixed;
    top: 125px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

#l2Block {
    position: fixed;
    top: 125px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: none;
    margin-right: auto;
    margin-left: auto;
}
*:focus {
    outline: none;
}
pre, resultInput4{
    font-family: 'Share Tech Mono', monospace;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 3px;
}

#resultInput5{
    font-family: 'Share Tech Mono', monospace;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 3px;
    text-transform: none;

}
.l4input{
    border: 0;
    font-family: 'Share Tech Mono', monospace;
    background: rgba(39, 174, 96,0.2);
    padding: 0 5px;
}
#resultInput4{
    width: 50%;
}
#l3Block {
    position: fixed;
    top: 125px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: none;
    margin-right: auto;
    margin-left: auto;
}
#l4Block {
    position: fixed;
    top: 125px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: none;
    margin-right: auto;
    margin-left: auto;
}
#l5Block {
    position: fixed;
    top: 125px;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: none;
    margin-right: auto;
    margin-left: auto;
}
.instruct {
    padding: 15px;
}
.wIns{
    text-align: center;
            font-family:"Wolf's Bane II Regular";
font-size: 35px;
color: #ffc100;
margin: 0 auto;
}
.steps {
    padding: 10px;
    color: #ffc100;
    margin: 10px 0;
}
.steps > ol > li {
    margin: 5px 0;
}

.msg {
    background-image: url("imgs/paper1.jpg");
    padding: 20px;
    background-size:cover;
    font-family: 'Patrick Hand SC', cursive;
    letter-spacing: 5px;
    color: #000;
    font-size: 20px;
    margin: 10px 0;
    border-radius: 3px;
}
.resultInput {
    border: 1px solid #ffc100;
    color: #fff;
    background: #000;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Nanum Gothic Coding', monospace;
    letter-spacing: 1.5px;
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;

}

.msgCharNull {
    padding: 5px 7px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.msgCharNull:hover {
    background: rgba(231, 76, 60,0.5);
}

.msgCharNull:nth-child(3n):hover {
background: rgba(39, 174, 96,0.5);
}
.msgChar {
    padding: 5px 7px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
     
}
.msgChar:hover {
    background: rgba(236, 240, 241,0.3);
}
.msgChar3 {
    padding: 5px 7px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
     
}
.msgChar3:hover {
    background: rgba(236, 240, 241,0.3);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 200;
    top: 0;
    left: 0;

}
.overlayInfo {
    position: fixed;
    background-color: #fff;
    z-index: 201;
    text-align: center;
    top: 30%;
    left: 50%;
    padding: 10px 15px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transform: translate(-50%, 0);
    letter-spacing: 1px;
    font-size: 15px;
    padding: 70px 30px;
}
.overlayClose {
    position: fixed;
    background-color: red;
    z-index: 201;
    top: 30.5%;
    left: 50.02%;
    width: 35px;
    text-align: center;
    font-family: sans-serif;
    height: 35px;
    color: #fff;
    line-height: 35px;
    border-radius: 500px;
    /* border-radius: 3px; */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transform: translate(-50%, 0);
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
}
.boxspan{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    
    border:1px solid #ccc;
}

.submit{
    padding: 20px 50px;
    display: inline-block;
    margin: 0 auto;
    color: #000;
    background: #ffc100;
    font-family:"Wolf's Bane II Regular";
    border-radius: 4px;
    font-size: 40px;
    cursor: pointer;
}

.errorMsg{
    font-family:"Wolf's Bane II Regular";
    text-align: center;
    font-size: 32px;
    color: red;
}

.corrMsg{
    font-family:"Wolf's Bane II Regular";
    text-align: center;
    font-size: 32px;
    color: #2ecc71;
}
u,code{
    padding: 2px;
    background: #fff;
    font-family: 'Share Tech Mono', monospace;
    color: #000;
    
}

.itis{
     font-family: 'Nanum Gothic Coding', monospace;
     font-size: 15px;
     color: red;
     background: rgba(241, 196, 15,0.5);
     white-space: pre-wrap;
     text-align: left;
     padding: 5px;
}

.shouldbe{
     font-family: 'Nanum Gothic Coding', monospace;
     font-size: 15px;
     color: #2980b9;
     background:rgba(241, 196, 15,0.5);
     padding: 5px;
     text-align: left;
}
