﻿/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Wolf's Bane II Regular";src:url("wolfsbane2ii.eot?") format("eot"),url("wolfsbane2ii.woff") format("woff"),url("wolfsbane2ii.ttf") format("truetype"),url("wolfsbane2ii.svg#Wolf'sBaneII") format("svg");font-weight:normal;font-style:normal;}
